<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
</head>
<body>
    <form action="/cal" method="post">
    <input type="number" name="NUM1" id="" placeholder="num1"> <br>
    <input type="number" name="NUM2" id="" placeholder="num2"> <br>
    <input type="button" name="ADDITION" id="" placeholder="add"> <br>
    <input type="button" name="SUBTRACTION" id="" placeholder="subtract"> <br>
    <input type="button" name="MULTIPLICATION" id="" placeholder="multiplication"> <br>
    <input type="button" name="result" id="" placeholder="result"> <br>
</body>
</html>